# OS
.DS_Store

# IDE
.idea/
.vscode/

# Env
.env
.env.*
!.env.example

# Composer
/vendor/
composer.phar

# PHPUnit
.phpunit.result.cache
phpunit.xml
coverage/

# Logs
logs/
*.log

# Misc caches
.cache/
.sass-cache/
node_modules/
